#topheader {
    margin-top: 70px;
    height: 182px;
    width: 100%;
}

.follow ul {
    list-style: none;
}

/** beginning of body introduction */
#master {
    #width: 85%;
    #margin: 40px auto;
}

#left-nav {
    position: relative;
    top: 20px;
}

#left-nav a {
    color: #000;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #587c66;
    margin-bottom: 0;
}


.nav-pills ul {
    margin-top: 20px;
}

.nav-pills > li > a {
    background-color: #587c66;
    margin-bottom: 1px;
    padding: 5px 9px;
}

#navref {
    color: white;
}

#swf_container {
    background: #fff;
    margin-top: 20px;
}

#swf_container img {
    position: relative;
    top: 0;
    left: 30px;
}

nav.navbar-green {
    background-color: #587c66;
}

nav.navbar-green a {
    color: #111;
}

/** end of body intro styles */

/* class separable and navbar default */

@media only screen and (max-width: 940px) {
    #navPrincipal .separadorDiagonal {
        display: none;
    }

    .navbar-default ul li {
        font-size: medium;
        color: lightgrey;
    }

}

.navbar-default {
    background-color: white;
    padding: 8px;
}

.navbar-default ul {
    padding: 1px;
}

.navbar-default ul li {
    font-size: medium;
    color: lightgrey;
}

.separadorDiagonal {
    padding: 7px 0 0 0;
    margin: 0;
    font-weight: bold;
}

.navbar-default #navPrincipal li a {
    color: #3F78A9;
}

.navbar-default #navPrincipal li a:hover {
    color: #2A4573;
}

.navbar-default ul li ul li {
    border: none;
}

.nav {
    margin-bottom: 0px;
    color: lightgrey;
}

.navbar-default {
    border-top-style: dashed;
    border-top-width: thin;
    border-top-color: lightgrey;
    border-left-style: none;
    border-right-style: none;
    background: azure;
}

/* of the separable section and second navbar */